@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('Capture.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Assistant;
    font-weight: 100;
}

.navy {
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.562rem;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.navy .left-nav {
    display: flex;
    flex-direction: row;
}

.navy .left-nav .icony {
    padding: 5px;
}

.navy .left-nav .icony a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.navy .left-nav .text {
    line-height: 43px;
    font-size: 26px;
    color: rgb(51, 51, 51);
}

.navy .left-nav .icony span {
    font-size: 35px;
    color: rgb(51, 51, 51);
}
.navy .right-navy {
    padding: 0px 40px 0px 0px;
    margin: 0px 20px;
}

.navy .right-navy button {
    background-color: rgb(200, 10, 77);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    color: rgb(255, 255, 255);
    font-family: Assistant;
    font-weight: 100;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 36.8px 5px 40.4px;
    margin: 0px 32px;
    cursor: pointer;
}

.doll {
    position: absolute;
}


.basic-face {
    width: 425px;
    position: relative;
    left: 519px;
    z-index: 1;
}

.basic-body {
    width: 411px;
    position: relative;
    left: 99px;
    top: -17px;
}

.basic-hair{
    position: absolute;
    width: 411px;
    left: 526px;
    top: 4px;
    z-index: 5;
}


.doll .presentation-doll {
    position: relative;
    width: 402px;
    position: relative;
    height: 671px;
    left: 536px;
    bottom: -50px;
}

svg {
    width: 55px;
    height: 55px;
    border: 5px double black;
    border-radius: 50%;
    padding: 6px;
    color: #ad25bc;
    background-color: white;
    transition: 0.4s;
}

svg:hover {
    background-color: rgb(200, 10, 77);;
}

.circles {
    position: absolute;
}

.circles button {
    background: none;
    border: none;
    cursor: pointer;
}

.circles span{
    font-size: 13px;
    font-weight: bold;
}

.nested-circles {
    position: relative;
    left: -113px;
    top: -175px;
    visibility: hidden;
}

.circle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 400px;
    left: 318px;
}

.circle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 180px;
    left: 408px;
}

.nested-circles .hair-style {
    border: 1px solid black;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: -2px;
    left: 53px;
}

.nested-circles .hair-cut {
    cursor: pointer;
    position: relative;
    top: -4px;
    left: 3px;
}

.nested-circles .hair-color {
    cursor: pointer;
    position: relative;
    top: -4px;
    left: 35px;
}

.nested-circles .hair-cut img{
    width: 55px;
    height: 55px;
    border: 3px solid white;
    border-radius: 50%;
}

.nested-circles .hair-color img {
    width: 55px;
    height: 55px;
    border: 3px solid white;
    border-radius: 50%;
}
.hair-cuts-blond{
    position: absolute;
    top: 70px;
    visibility: hidden;
}
.hair-cuts-blond .hair {
    position: relative;
    cursor: pointer;
    transition: transform 5s cubic-bezier(0, 0.64, 0.21, 1.21);;
}

.hair-cuts-blue{
    visibility: hidden;
}

.hair-cuts-pink{
display: none;} 

.hair-cuts-purple{
    visibility: hidden;
} 



.hair-cuts-blue .hair {
    position: relative;
    cursor: pointer;
    transition: transform 5s cubic-bezier(0, 0.64, 0.21, 1.21);;
}

.hair-colors {
    visibility:hidden;
    top: -98px;
    position: fixed;
}

.hair-cuts-blond .hair img,
.hair-colors img {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    z-index: 1px;
    top: 179px;
    left: 306px;
}

img {
    cursor: pointer;
}

.hair-cuts-blue .hair img,
.hair-cuts-pink .hair img,
.hair-cuts-purple .hair img {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 1px;
    top: 179px;
    left: 306px;
}

.circle3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 282px;
    left: 972px;
}

.circle4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -1057px;
    top: 399px;
}

.hair span{
    position: fixed;
    left: 328px;
    top: 243px;
    font-size: 6px;
}
.hair-cuts-blond-applied {
    visibility: hidden;
}

.hair-cuts-pink-applied {
    visibility: hidden;
}

.hair-cuts-purple-applied {
    visibility: hidden;
}

.hair-cuts-blue-applied {
    position: absolute;
    top: 110px;
    visibility: hidden;
}

.left-eye {
    width: 424px;
    position: relative;
    top: -6px;
    left: -363px;
    z-index: 3;
}

.right-eye {
    width: 424px;
    position: relative;
    bottom: 703px;
    left: 561px;
    z-index: 3;
}

.basic-outfit {
    width: 410px;
    position: relative;
    top: -725px;
    left: 100px;
}

.hair-color1 {
    cursor: pointer;
}


.outfits {
    position: absolute;
    top: 243px;
    left: 165px;
    display: none;
}

.outfit1,
.outfit2,
.outfit3,
.outfit4,
.outfit5 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    position: relative;
}

.outfit1 span,
.outfit2 span,
.outfit3 span,
.outfit4 span,
.outfit5 span {
    font-weight: 400;
    font-size: 12px;
}
.outfits img {
    width: 50px;
    height: 50px;
    border: 5px double white;
    border-radius: 50%;
}

.outfits img:hover {
    border: 5px solid rgb(200, 10, 77)
}

.outfits-applied {
    width: fit-content;
    height: fit-content;
}

.outfits-applied img{
    width: 412px;
    position: absolute;
    top: 7px;
    left: 526px;
    z-index: 5;
    visibility: hidden;
}

.default {
    width: 412px;
    position: absolute;
    top: 7px;
    left: 526px;
    z-index: 4;
}

.skin-tone {
    position: absolute;
    top: 125px;
    left: 1074px;
    display: none;
}

.skin-text {
    position: relative;
    left: -20px;
    font-size: 15px;
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.tone {
    background: rgb(238, 194, 154);
    width: 43px;
    height: 43px;
    border: 4px double white;
    border-radius: 50%;
}

.tone1,
.tone2,
.tone3,
.tone4,
.tone5,
.tone6 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.tone1-img,
.tone2-img,
.tone3-img,
.tone4-img,
.tone5-img {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}


.tone1 span,
.tone2 span,
.tone3 span,
.tone4 span,
.tone5 span,
.tone6 span {
    width: fit-content;
}

.tone1 {
    left: -20px;
}

.tone2 {
    left: 20px;
}

.tone3 {
    left: 50px;
}

.tone4 {
    left: 50px;
}

.tone5 {
    left: 20px;
}

.tone6 {
    left: -20px;
}

.Facial-Features {
    position: absolute;
    top: 352px;
    left: 982px;
    display: none;
}

.Face-circle {
    position: relative;
    top: -64px;
    transform: translate(-77px, -82px);
}

.eye-color-cirlce {
    position: relative;
    top: -125px;
    transform: translate(18px, -111px);
}

.Freckles {
    transform: translate(-72px, -120px);
}

.braces {
    position: relative;
    top: -256px;
    transform: translate(83px, -39px);
}

.Hearing-Aid {
    position: relative;
    top: -320px;
    transform: translate(21px, 33px);
}

.Face-circle,
.eye-color-cirlce,
.plus1,
.plus2,
.plus3{
    width: 64px;
    height: 64px;
}

.Face-circle img,
.eye-color-cirlce img,
.plus1,
.plus2,
.plus3 {
    width: 64px;
    height: 64px;
    border: 3px solid white;
    border-radius: 50%;
}

.plus1,
.plus2,
.plus3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Face-circle img:hover,
.eye-color-cirlce img:hover,
.plus1:hover ,
.plus2:hover ,
.plus3:hover {
    background-color: rgb(137, 28, 149);
    border-color: rgb(137, 28, 149);
}

.face-shape {
    position: absolute;
    top: 125px;
    left: 315px;
    display: none;
}

.face-text {
    font-size: 15px;
    font-weight: 500;
}

.shape1,
.shape2, 
.shape3,
.shape4,
.shape5 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
} 

.shape2,
.shape4 {
    right: 35px;
}


.shape1 img,
.shape2 img, 
.shape3 img,
.shape4 img,
.shape5 img {
    width: 46px;
    height: 46px;
    border: 1px solid rgb(200, 10, 77);
    border-radius: 50%;
}

.eyes-category {
    position: absolute;
    top: 373px;
    left: 924px;
    display: flex;
    display: none;
}

.both-eyes,
.left-eyes,
.right-eyes {
    width: fit-content;
    height: fit-content;
}

.both-eyes img,
.left-eyes span:first-child,
.right-eyes span:first-child {
    border: 2.5px solid white;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyes-circles-colors {
    position: absolute;
    top: 130px;
    left: 325px;
    display: none;
}
.eyes-circles-colors img{
    width: 39px;
    height: 39px;
    border: 1px solid white;
    border-radius: 50%;
}

.eye-color1,
.eye-color2,
.eye-color3,
.eye-color4,
.eye-color5,
.eye-color6,
.eye-color7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
}

.eye-color1 span,
.eye-color2 span,
.eye-color3 span,
.eye-color4 span,
.eye-color5 span,
.eye-color6 span,
.eye-color7 span {
    font-weight: 500;
    font-size: 8px;
}
